{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "My API",
    "description" : "defaultDescription",
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "https://hxwd.org"
  } ],
  "paths" : {
    "/api/search_att.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "sense-id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-d833a07b-bd53-46dc-9608-8d5118172039"
        } ],
        "responses" : {
          "default" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/save_swl.xql" : {
      "put" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "pos",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0"
        }, {
          "name" : "line",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "CH1a0907_CHANT_016-71a.6"
        }, {
          "name" : "sense",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-ddc23085-8edc-4a9a-8230-858edc5a9ad1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "text/html;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/autocomplete.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "callback",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "jQuery33107234559831824199_1669804142915"
        }, {
          "name" : "term",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "NUMBER%20WITH%20ZERO"
        }, {
          "name" : "type",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "rhet-dev"
        }, {
          "name" : "_",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1669804142921"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "text/javascript; charset=UTF-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/save_def.xql" : {
      "put" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "defid",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "def-uuid-022783ea-4714-4f09-a783-ea47142f09de"
        }, {
          "name" : "def",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "to%20cause%20the%20contextually%20determinate%20N%20to%20be%20so;%20make%20things%20so;%20bring%20this%20about"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "text/html;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/responder.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "func",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "wd:search"
        }, {
          "name" : "line",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "定行星三百一度。"
        }, {
          "name" : "query",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "三百  "
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "dic"
        }, {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-37f0cdfe-2c90-44ee-bf88-a029d5dddc90"
        }, {
          "name" : "word",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "三百"
        }, {
          "name" : "qitem",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "line-id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "KR2a0007_tls_013-122a.20"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/save_newsw.xql" : {
      "put" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "wid",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-bcaa221d-d7c9-4338-b326-b27751c78b4f"
        }, {
          "name" : "semfeat-val",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "art%20of"
        }, {
          "name" : "def",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "art%20of%20artistic%20charioteering"
        }, {
          "name" : "concept",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-0d0c9fac-6b83-49a6-ab51-982001f18933"
        }, {
          "name" : "semfeat",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "py",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "y%C3%B9"
        }, {
          "name" : "synfunc",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-76be1df4-3d73-4e5f-bbc2-729542645bc8"
        }, {
          "name" : "synfunc-val",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "nab"
        }, {
          "name" : "word",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "%E5%BE%A1"
        }, {
          "name" : "concept-val",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "DRIVE"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/json;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        }
      }
    },
    "/api/save_swl1.xql" : {
      "put" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "pos",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0"
        }, {
          "name" : "line",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "CH1a0907_CHANT_016-71a.6"
        }, {
          "name" : "sense",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-ddc23085-8edc-4a9a-8230-858edc5a9ad1"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "text/html;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        }
      }
    },
    "/api/get_sw.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "domain",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "core"
        }, {
          "name" : "context",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "/textview.html"
        }, {
          "name" : "word",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "%E5%A4%AB"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/show_att.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "uid",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-cd30c80d-41e5-44db-840b-e15813afc916"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/show_swl_for_line.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "line",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "KR5c0139_tls_013-027ps"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector"
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/get_tr_for_page.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "prec",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0"
        }, {
          "name" : "foll",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "29"
        }, {
          "name" : "location",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "CH1c0887_CHANT_043-1a.1"
        }, {
          "name" : "slot",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "slot2"
        }, {
          "name" : "content-id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "CH1c0887-en-0c0a5f8a"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/json;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        }
      }
    },
    "/api/responder1.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "uid",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "KR5c0139_tls_012-045cs.5"
        }, {
          "name" : "func",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "reload-selector"
        }, {
          "name" : "seg",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "KR5c0139_tls_012-045cs.5"
        }, {
          "name" : "prec",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "line",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "%E5%89%87%E7%84%A1%E6%99%82%E6%85%8A%E7%9F%A3"
        }, {
          "name" : "foll",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "28"
        }, {
          "name" : "location",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "CH1c0887_CHANT_043-1a.2"
        }, {
          "name" : "slot",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "slot2"
        }, {
          "name" : "content-id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "CH1c0887-en-0c0a5f8a"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "text/html;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "put" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "func",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "save-punc"
        }, {
          "name" : "line_id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "KR5c0139_tls_012-045cs.5"
        } ],
        "responses" : {
          "400" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "text/html;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/get_sf.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "senseid",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-9f5b47d5-95ca-40b1-96e4-07dd388c0165"
        }, {
          "name" : "type",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "sem-feat"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "text/html;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/delete_swl.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "uid",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-aee57d29-d89d-4414-a57d-29d89d7414d7"
        }, {
          "name" : "type",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "swl"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/json;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/delete_word_from_concept.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "wid",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-d7cbc7a0-5c49-4276-80e7-52d35afd2e36"
        }, {
          "name" : "type",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "sense"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "text/html;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    },
    "/api/responder2.xql" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "parameters" : [ {
          "name" : "pinyin",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "gāo"
        }, {
          "name" : "wid",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-d7cbc7a0-5c49-4276-80e7-52d35afd2e36"
        }, {
          "name" : "func",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "dialogs:move-word"
        }, {
          "name" : "concept_id",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-0825fe94-beba-4585-a1eb-1668d11bccbe"
        }, {
          "name" : "pos",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1"
        }, {
          "name" : "concept",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ADMIRE"
        }, {
          "name" : "char",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "高"
        }, {
          "name" : "count",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1"
        }, {
          "name" : "type",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "undefined"
        }, {
          "name" : "word",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "高"
        }, {
          "name" : "target",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "uuid-95062b1b-b7b1-4547-9a37-c22807445c53"
        } ],
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "text/html;charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : { }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://hxwd.org"
        } ]
      },
      "servers" : [ {
        "url" : "https://hxwd.org"
      } ]
    }
  },
  "components" : {
    "schemas" : { },
    "securitySchemes" : {
      "basic" : {
        "type" : "http",
        "scheme" : "basic"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "implicit" : {
            "authorizationUrl" : "http://yourauthurl.com",
            "scopes" : {
              "scope_name" : "Enter your scopes here"
            }
          }
        }
      }
    }
  }
}